extends ../_layout.pug

block body
  .container
    .row.mb-4
      .col-md-6
        h1 Sign up
    
    .row.blog-entries
      .col-md-12.col-lg-8.main-content
        form(method="post")
          .row
            .col-md-12.form-group
              label(for="username") Username
              input(type="text", name="username", value=username)#username.form-control
              
              if errors && errors.username
                small= errors.username

            .col-md-12.form-group
              label(for="Email") Email
              input(type="email", name="email", value=email)#email.form-control
              
              if errors && errors.email
                small= errors.email

            .col-md-12.form-group
              label(for="password") Password
              input(type="password", name="password")#password.form-control

              if errors && errors.password
                small= errors.password

            .col-md-12.form-group
              label(for="confirmPassword") Confirm Password
              input(type="password", name="confirmPassword")#confirmPassword.form-control

              if errors && errors.confirmPassword
                small= errors.confirmPassword

          .row
            .col-md-6.form-group
              input(type="submit", value="Signup").btn.btn-primary

      include ../_components/sidebar
